# By default, ignore everything...
/*

**__pycache__/

# ... except these directories
!/src/
!/.circleci/

# ... except these specific files
!/.gitignore
!/LICENSE.txt
!/README.md
!/requirements.txt
!/setup.py

